body {
    margin: 30px;

}



.divCard {
    background-color: rgba(240, 239, 239, 0.468);
    border-radius: 25px;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}