.allInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

.firstInfo {
    display: flex;
    align-items: center;
}

.habitation {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.habitation h2 {
    color: #FF6060;
}

.moreInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.infoPerson {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;

}

.infoPerson img {
    height: 64px;
    width: 64px;
    border-radius: 32px;
}

.infoPerson span {
    font-weight: 500;
    display: wrap;
    flex-wrap: wrap;
    color: #FF6060;

}

.infoLogement {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tags {
    display: flex;
    width: 100%;
}

.tags span {
    display: flex;
    text-align: center;
    font-weight: 600;
    background-color: #FF6060;
    color: white;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 14px;
    min-width: 115px;
    padding: 5px 10px;

}

.classRating {
    display: flex;
    justify-content: flex-end;
}