//Color// 
$redColor: #FF6060;
$whiteColor: #F6F6F6;
$blackColor: black;

//banner//

$banner-radius: 25px;
$banner-height: 223px;
$filter-color: rgba(0, 0, 0, 0.7);
$bannerHeightMobile : 111px;
$bannerRadiusMobile : 10px;