@use '../../utils/sass/variable' as *;

.footerContainer {
    display: flex;
    flex-direction: column;
    height: 150px;
    padding: 25px 0;
    width: 100%;
    background-color: $blackColor;
    margin-top: 35px;

    >img {
        display: block;
        margin: auto;
        height: 100px;
        width: 150px;
    }

    >p {
        color: $whiteColor;
        text-align: center;
        font-size: 30px;

        @media screen and (max-width: 768px) {
            font-size: 24px;
        }
    }

}