@use '../../utils/sass/variable' as *;

.Banner {
    position: relative;
    text-align: center;
    border-radius: $banner-radius;
    margin-bottom: 35px;
    overflow: hidden;

    @media screen and (max-width: 1024px) {
        margin: 0px auto;
    }

    @media screen and (max-width: 768px) {
        height: $bannerHeightMobile ;
    }

    img {
        width: 100%;
        height: $banner-height;
        object-fit: cover;
        border-radius: $banner-radius;
    }


    .filterShadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: $banner-height;
        background-color: $filter-color;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
        border-radius: $banner-radius;

        @media screen and (max-width: 768px) {
            height: $bannerHeightMobile ;
        }
    }


    .bannerText {
        position: absolute;
        color: $whiteColor;
        font-weight: bold;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: calc(1.5rem + 1vw);
        z-index: 2;
        margin: 0;

        @media screen and (max-width: 768px) {
            text-align: left;
            left: 30%;
            font-size: 21px;
            width: 37%;
        }

        @media screen and (max-width: 400px) {
            font-size: 18px;
            width: 50%;
        }
    }

}