header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 1240px;

    img {
        height: 68px;

        @media screen and (max-width: 768px) {
            height: 47px;
        }
    }

    nav {
        justify-content: flex-end;
        display: flex;
        width: 100%;
        gap: 30px;

        .linkNav {
            color: #000000;
            margin: 5px;
            text-decoration: none;

            &:hover {
                color: #000000;
            }

            @media screen and (max-width: 768px) {
                margin: auto 5px;
            }
        }

        .linkMenu {
            &.active {
                border-bottom: 1px solid #ff6060;
            }
        }
    }

    @media screen and (max-width: 768px) {
        margin: 40px 2.5%;
        width: 95%;
    }
}