header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 1240px;
}

header>img {
    height: 68px;
}

nav {
    justify-content: flex-end;
    display: flex;
    width: 100%;
    gap: 30px;
}

.linkNav {
    color: #000000;
    margin: 5px;
    text-decoration: none;
}

.linkNav:hover {
    color: #000000;
}

.linkMenu.active {
    border-bottom: 1px solid #ff6060;
}

@media screen and (max-width: 1490px) {
    header {
        margin: 40px 2.5%;
        width: 95%;
    }

    header>img {
        height: 47px;
    }

    .linkNav {
        margin: auto 5px;
    }
}