.card {
    position: relative;
    width: 100%;
    height: 340px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow 0.2s ease-in-out;
    background: linear-gradient(180deg, rgb(248, 92, 92) 0%, rgba(226, 33, 33, 0.706) 100%);
}