.dropDownDiv {
    border-radius: 5px;
    margin-bottom: 35px;
    text-align: left;

}

.dropDownBanner {
    align-items: center;
    background-color: #ff6060;
    border-radius: 5px;
    display: inline-flex;
    height: 25%;
    min-height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.collaspeTitle {
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    margin: 5px 10px;
}

.arrowDropdown {
    margin-right: 10px;

}

.arrowDropdown:hover {
    cursor: pointer;
}

.arrowDropdown.open {
    transform: rotate(180deg);
}

.descriptionDropdown {
    background-color: #f6f6f6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ff6060;
    height: 75%;
    margin-top: -10px;
    min-height: 100px;
    padding: 25px 10px 10px 10px;
}