.dropDownDiv {
    border-radius: 5px;
    margin-bottom: 35px;
    width: 70%;
    margin: 10px auto;

}

.dropDownBanner {
    margin: 10px auto;
    background-color: #FF6060;
    padding: 5px;
    border-radius: 5px;
    text-align: left;
    color: #FFFFFF;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapseTitle {
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    margin: 5px 10px;
}

.arrowDropdown {
    margin-right: 20px;
    background: none;
    border: none;
    padding: 0;
    outline: none;
}

.arrow {
    height: 20px;
}

.arrowDropdown:hover {
    cursor: pointer;
}

.arrowDropdown.open {
    transform: rotate(180deg);
}

.descriptionDropdown {
    background-color: #f6f6f6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 75%;
    margin-top: -10px;
    min-height: 100px;
    padding: 25px 10px 10px 10px;
}